@model IEnumerable<NgCooking.DAL.Entities.Recette>
@if (Model != null)
{
<div id="wrapper">
    <main id="main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-9">
                    <div class="content" id="content_recettes">
                        <h1 class="page-title">Les recettes</h1>
                        <section class="section">
                            <h2 class="title">~ Trouver une recette ~</h2>
                            <div class="panel">
                                <div class="row imgback">
                                    <div class="col-xs-3"></div>
                                    <div class="col-xs-12 col-sm-9 fp">
                                        <div class="filters">
                                            <form action="" method="get" id="form">
                                                <div class="filter">
                                                    <p><label for="">Nom de la recette</label></p>
                                                    <p><input type="text" placeholder="ex: Tajine de poulet" name="NameRecette"></p>
                                                </div>
                                                <div class="filter">
                                                    <p><label for="">Ingrédient(s) utlisé(s) pour la recette</label></p>
                                                    <p><input type="text" placeholder="ex: poulet;oeuf;farine" name="Ingredient"></p>
                                                </div>
                                                <div class="filter">
                                                    <p><label for="">Valeur calorique de la recette <span class="fwn">(kcal/100g)</span></label></p>
                                                    <p>
                                                        <span class="span-label">entre :</span>
                                                        <input type="number" class="mr0" placeholder="ex: 450" name="nbr1">
                                                        <span class="span-label">et</span>
                                                        <input type="number" placeholder="ex: 750" name="nbr2">
                                                    </p>
                                                </div>
                                                <input type="submit" value="Rechercher" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sort">
                                @using (Html.BeginForm("Index", "Recettes", FormMethod.Post))
                                {
                                    <p>
                                        <span class="span-label">Trier par :</span>
                                        <select name="OptionRecette" id="OptionRecette" onchange="this.form.submit()">
                                            <option value="az" @(ViewBag.OptionCommunaute == "az" ? "selected" : "")>Ordre alphabétique (A->Z)</option>
                                            <option value="za" @(ViewBag.OptionCommunaute == "za" ? "selected" : "")>Ordre alphabétique (Z->A)</option>
                                            <option value="new" @(ViewBag.OptionCommunaute == "new" ? "selected" : "")>Les plus récentes d'abord</option>
                                            <option value="old" @(ViewBag.OptionCommunaute == "old" ? "selected" : "")>Les plus anciennes d'abord</option>
                                            <option value="best" @(ViewBag.OptionCommunaute == "best" ? "selected" : "")>Les mieux notées d'abord</option>
                                            <option value="worst" @(ViewBag.OptionCommunaute == "worst" ? "selected" : "")>Les moins bien notées d'abord</option>
                                            <option value="cal" @(ViewBag.OptionCommunaute == "cal" ? "selected" : "")>Du moins calorique au plus calorique</option>
                                            <option value="cal_desc" @(ViewBag.OptionCommunaute == "cal_desc" ? "selected" : "")>Du plus calorique au moins calorique</option>
                                        </select>
                                    </p>
                                }
                            </div>
                            <div class="result" id="result">
                                <div class="recettes row">
                                        @ViewBag.Nom
                                        @Html.Partial("_ResultatRecette")                          
                                </div>
                            </div>

                        </section>
                        <section class="section">
                            <h2 class="title">~ Meilleures recettes ~</h2>
                            <div class="recettes row">
                                <div>
                                    @Html.Partial("_Meilleure_Recette")
                                </div>
                            </div>
                        </section>
                        <section class="section">
                            <h2 class="title">~ Nouvelles recettes ~</h2>
                            <div class="recettes row">
                                <div class="recettes row">
                                    <div>
                                        @Html.Partial("_Nouvelle_Recette")
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
}

