@model IList<NgCooking.DAL.Entities.Communaute>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="col-xs-6 col-sm-3 user">
            <a href="@Url.Action("Details", "Communaute", new { id = item.idcommunaute })">
                <img src="../@item.picture" alt="@item.firstname + @item.surname">
                <div class="text">
                    <p class="name">@item.firstname</p>
                    <p class="name">@item.surname</p>
                    <p class="level">
                        @for (int i = 0; i < @item.niveau; i++)
                    {
                            <span class="stars">
                                <span class="glyphicon glyphicon-star"></span>
                            </span>
                    }
                        @if (@item.niveau == 1)
                        {
                            <span class="status">Novice </span>
                        }
                        else if (@item.niveau == 2)
                        {
                            <span class="status">Confirmé </span>
                        }
                        else if (@item.niveau == 3)
                        {
                            <span class="status">Expert </span>
                        }
                    </p>
                </div>
            </a>
        </div>
    }
}